*.gem
*.sublime-project
*.sublime-workspace
.DS_Store
.jekyll
.jekyll-cache
.jekyll-metadata
.bundle
.sass-cache
_asset_bundler_cache
_site
codekit-config.json
*.sublime-project
*.sublime-workspace

Gemfile.lock
node_modules
npm-debug.log*
vendor/bundle
package.json
*.class
