---
layout: default
pagination: 
  enabled: true
---

<div class="home">

  <h1 class="page-heading">Topics</h1>

  <h4 class="Topics"><a href="cs320/index/">CS-320: Software Test Automation & QA</a></h4>

  <h4 class="Topics"><a href="it145/index/">IT-145: Foundations in Application Development</a></h4>

  <h1 class="page-heading">Posts</h1>

{% for post in paginator.posts %}

      <div class="blog-post spacing">
        <h3><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h3>
        <p class="summary">
          {{ post.category }}
          <span class="date">
            {{ post.date | date: "%b %-d, %Y" }}
          </span>
        </p>
        {{ post.excerpt }}
        <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
      </div>
{% endfor %}

{% if paginator.total_pages > 1 %}
<br/>
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}">&lt;&lt; Newer</a>
  {% endif %}
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl }}">Older &gt;&gt;</a>
  {% endif %}
{% endif %}

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
